/* UNIVERSAL STYLES */
* {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: #fff;
    --alt-bg-color: #f0f0f0;
    --header: #3c9ecc;
    --accent: #ffdc3b;
    --button: #ff6f68;
    --button-hover: #fd5b53;
    --alt-text: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', serif;
    color: var(--header);
    
}

div, ul, ol, li, p, a, button {
    font-family: 'Helvetica', sans-serif;
}

h3 {
    font-size: 38px;
    line-height: 1.5;
    margin-bottom: 25px;
}

p {
    font-size: 18px;
    margin-bottom: 40px;
}

header {
    height: 8vh;
}

footer {
    height: 8vh !important;
}

img {
  object-fit: contain;
}

#favicon {
    width: 50px;
    height: 50px;
    margin-right: 1.25vw;
}

footer p {
    margin: 0;
}

.btn {
    padding: 10px 25px;
    background-color: var(--button);
    border: 0px;
}

.btn:hover {
    background-color: var(--button-hover);
}

/*  NAVIGATION */

.nav-item {
  margin-left: 20px;
}

.nav-link {
    font-weight: 600;
    color: var(--header);
}

.nav-link:hover {
    color: var(--accent);
}

#breedSelect {
    list-style-type: none;
}

.breed {
    text-decoration: none;
    margin: 15px;
    padding: 15px;
    background-color: var(--button);
    color: var(--main-bg-color);
    border-radius: 5px;
}

.breed:hover {
    background-color: var(--button-hover);
}

/* HERO IMAGES */
#heroImage {
    width: 100%;
    object-fit: cover;
}

/* SECTIONS */
#adoptYourDog {
    padding: 0 15vw 0 15vw !important;
}

.form-select {
    padding: 11px 6px;
    width: 174px;
    border-color: var(--alt-text);
    color: var(--alt-text);
    border-radius: 5px;
}